<div class="container w-50">
    <h1>My Tasks</h1>
  <% @tasks.each do |task| %>
    <% if task.completed == true %>
          <%= check_box_tag(task.title, task.details, true) %>
    <% else %>
          <%= check_box_tag(task.title, task.details, task.completed) %>
    <% end %>

      <%= link_to task.title, task_path(task) %>
       <br>
  <% end %>
  <hr>
  <p><%= link_to "Add a new task", new_task_path, class: "btn btn-primary" %></p>
</div>
